:root {
  --black: #212121;
  --peach: #B1544C;
  --pink: #D1ACB4;
  --big-font: 40px;
  --small-font: 22px;
  --image-width: 1200px;
  --padding: 24px;
  --triangle-container-height-medium: 237px;
  --triangle-container-width-medium: 377px;
}

html {
	font-size: 14px; 
	height: 100vh;
  }
  
body {
  display: flex;
	height: 100%;
	margin: 0;
  justify-content: end;
  align-items: center;
 }
  
 * {
	box-sizing: border-box;
}

.App {
  display: flex;
  position: relative;
}

.billboard-background {
  position: relative;
  width: var(--image-width);
  z-index: 10;
}

.container {
  /* border: 3px solid red; */
  height: 288px;
  left: 451px;
  position: absolute;
  top: 422px;
  padding: var(--padding);
  width: 624px;
  z-index: 20;
}

.main-text {
  color: var(--black);
  font-family: 'fractful semibold';
  font-size: var(--big-font);
  line-height: 1;
  z-index: 20;
}

.second-text {
  color: var(--peach);
  cursor: pointer;
  font-family: 'fractful';
  font-size: var(--small-font);
  font-weight: 400;
  line-height: 1;
  position: absolute;
  bottom: 32px;
}

.triangle-container {
  /* border: 3px solid red; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  left: 230px;
  position: absolute;
  transform: skew(3.5deg, 0deg);
  top: var(--padding);
}

.triangle {
  border-bottom: calc(var(--triangle-container-height-medium)/3) solid transparent;
  height: 0;
  width: 0;
}

.triangle-peach {
  border-right: calc(var(--triangle-container-width-medium)/5) solid var(--peach);
}

.triangle-pink {
  border-right: calc(var(--triangle-container-width-medium)/5) solid var(--pink);
}

.triangle-transparent {
  border-right: calc(var(--triangle-container-width-medium)/5) solid transparent;
}

@media screen and (min-width: 1200px) {
  :root {
    --image-width: 1800px;
    --padding: 40px;
    --triangle-container-height-medium: 343px;
    --triangle-container-width-medium: 556px;
    --big-font: 56px;
    --small-font: 30px;
  }

  .container {
    height: 431px;
    left: 677px;
    top: 632px;
  }

  .triangle-container {
   /* border: 3px solid red;
     left: 344px;
    right: -285px;
    top: 45px; */

    left: 344px;
    right: -280px;
    top: 40px;
  }
}